trigger: none
pool: pkagent
stages:
  # - stage: scanning
  #   jobs:
  #     - job: sonarscanning
  #       steps:
  #       - task: PowerShell@2
  #         inputs:
  #           targetType: 'inline'
  #           script: 'sonar-scanner.bat -D"sonar.projectKey=todoui" -D"sonar.sources=." -D"sonar.host.url=http://20.197.45.114:9000" -D"sonar.login=sqp_3c8f7895baa9e1a01e10012b89c8878a0c4d3bfe"'
  - stage: BuildArtifact
    jobs:
      - job: Installnode
        steps:
        - task: NodeTool@0
          inputs:
            versionSource: 'spec'
            versionSpec: '16.x'
     
        # - task: PowerShell@2
        #   inputs:
        #     targetType: 'inline'
        #     script: |
        #       npm install 
        #       npm run build

        # - task: PublishBuildArtifacts@1
        #   inputs:
        #    PathtoPublish: '$(System.DefaultWorkingDirectory)/build'
        #    ArtifactName: 'todobuild'
        #    publishLocation: 'Container'
  - stage: DeployStage
    jobs:
      - job: DownloadArtifact
        steps:
        - task: DownloadPipelineArtifact@2
          inputs:
            buildType: 'specific'
            project: '1a6079c6-91ca-424e-8c47-f89a0e96c788'
            definition: '1'
            buildVersionToDownload: 'specific'
            pipelineId: '11'
            artifactName: 'todobuild'
            targetPath: '$(System.DefaultWorkingDirectory)/todobuild'
        
        - task: CopyFilesOverSSH@0
          inputs:
            sshEndpoint: 'pkservice'
            sourceFolder: '$(System.DefaultWorkingDirectory)/todobuild'
            contents: '**'
            targetFolder: '/home/pkadmin/'
            readyTimeout: '20000'

        - task: SSH@0
          inputs:
            sshEndpoint: 'pkservice'
            runOptions: 'inline'
            inline: 'sudo cp -r /home/pkadmin/* /usr/share/nginx/html/'
            readyTimeout: '20000'