trigger: none
pool: pkagent
stages:
  - stage: scanning
    jobs:
      - job: sonarscanning
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              sonar-scanner `
                                        "-Dsonar.host.url=http://135.222.42.93:9000" `
                                        "-Dsonar.token=sqp_9bbfc903a3fa5730f5afe83cda93d0d0df13867b" `
                                        "-Dsonar.projectKey=Monolithic-Setup" `
                                        "-Dsonar.sources=$(System.DefaultWorkingDirectory)/src"
    