trigger: none
pool: pkagent
stages:
  - stage: scanning
    jobs:
      - job: sonarscanning
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              sonar-scanner \
                -Dsonar.projectKey=todoui \
                -Dsonar.sources=. \
                -Dsonar.host.url=http://20.197.45.114:9000 \
                -Dsonar.login=sqp_3c8f7895baa9e1a01e10012b89c8878a0c4d3bfe
    